springmvc/src/main/java/com/grd/common/config/spring-custom.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.test.org/schema/custom" xmlns="http://www.test.org/schema/custom"
            elementFormDefault="qualified">

    <xsd:element name="custom">
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:string"/>
            <xsd:attribute name="name" type="xsd:string"/>
            <xsd:attribute name="remark" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>